.userData {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    background-color: #f4f4f4;
}

.formContainer {
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 400px;
}

.formContainer .form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.formContainer .inputFields {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.formContainer .inputFields input[type="text"],
.formContainer .inputFields input[type="number"],
.formContainer .inputFields input[type="date"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
}

.formContainer .inputFields input[type = "number"]::-webkit-inner-spin-button,
.formContainer .inputFields input[type = "number"]::-webkit-outer-spin-button{
    display: none;
}

.formContainer .inputFields input[type="date"]{
    cursor: pointer;
}

.formContainer .inputFields label {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 16px;
}

.formContainer .Btn {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.formContainer .Btn button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.formContainer .Btn button:hover {
    background-color: #0056b3;
}
